name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - ".devcontainer/**"
      - "users/**"
      - "config/**"
      - "flake.nix"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  nix-checks:
    name: Basic Nix checks
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/flake-checker-action@main
        with:
          fail-mode: false

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true

      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: nix flake check
        run: |
          nix flake check --all-systems

  build-nix:
    needs: nix-checks
    name: Cache Nix development environment
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: |
          nix build .#devShells.x86_64-linux.default
          nix build .#homeConfigurations.catnip.activationPackage
          nix build .#homeConfigurations.root.activationPackage
          nix build .#homeConfigurations.vscode.activationPackage

  build-and-push:
    runs-on: ubuntu-latest
    needs: build-nix
    permissions:
      id-token: write
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - dockerfile: .devcontainer/Dockerfile
            suffix: ""
          - dockerfile: Dockerfile.catnip
            suffix: "-catnip"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            suffix=${{ matrix.suffix }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix={{branch}}-
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
